@use "../../../base/variables" as var;
@media #{var.$tablet} {
.textarea {
  textarea {
    font-size: 18rem;
    padding: 10rem;
  }
}

}
@media #{var.$mobile} {
.textarea {
  textarea {
    font-size: 16rem;
    padding: 10rem;
  }
}
}
