@use "./variables" as var;

.breadcrumbs {
  height: 40rem;
  overflow: auto;
  @include var.scrollbar(horizontal);
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
  }
  &__link {
    font: var(--font-mohave-med-20);
    opacity: 0.4;
    &--last {
      opacity: 1;
    }
  }
  &__item {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    white-space: nowrap;
  }
}
