@use "./variables" as var;
html {
  font-size: calc(1vw / 19.2);
}
body {
  font-size: 16rem;
  font: var(--font-mohave-reg-16);
  color: var(--black-1);
  background-color: var(--bg);
}
.container {
  margin: 0 auto;
  max-width: 1920rem;
  padding-inline: 100rem;
  width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  justify-content: space-between;
}
.main {
  flex-grow: 1;
  padding-top: 100rem;
}
a {
  text-decoration: none;
  color: var(--black-1);
}
.typography {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 50rem;
  * {
    font-size: 14rem;
    line-height: 1.22;
    font-weight: 300;
  }

  > *:first-child {
    margin-bottom: 0;
  }

  h1 {
    margin-bottom: 0rem;
    font-size: 48rem;
    font-weight: 700;
  }
  h2 {
    margin-bottom: 30rem;
    font-size: 36rem;
    font-weight: 700;
  }
  h3 {
    margin-bottom: 30rem;
    font-size: 30rem;
    font-weight: 600;
  }
  h4 {
    margin-bottom: 30rem;
    font-size: 28rem;
    font-weight: 600;
  }
  h5 {
    margin-bottom: 30rem;
    font-size: 26rem;
    font-weight: 600;
  }
  h6 {
    margin-bottom: 30rem;
    font-size: 22rem;
    font-weight: 600;
  }
  p {
    margin-bottom: 10rem;
  }
  strong,
  b {
    font-weight: 600;
  }

  em,
  i {
    font-style: italic;
  }
  img {
    margin-bottom: 25rem;
    width: 100%;
    height: auto;
    border-radius: 30rem;
    max-height: 460rem;
    object-fit: cover;
  }
  ol,
  ul {
    margin-bottom: 10rem;
    padding-left: 20rem;
  }
  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;

    li {
      list-style: none;
      position: relative;
      &:before {
        content: "•";
        position: absolute;
        font-size: 14rem;
        align-items: center;
        left: -12rem;
        top: -1rem;
      }
    }
  }

  blockquote {
    margin-bottom: 10rem;
    padding: 8rem 0 8rem 8rem;
    border-left: 2rem solid var(--black-1);
    P {
      margin: 0;
    }
  }

  cite {
    display: block;
  }

  a {
    text-decoration: underline;
    color: var(--blue);
    text-underline-offset: 4rem;
  }

  table {
    display: block;
    margin-bottom: 20rem;
    width: min-content;
    overflow-x: auto;
    max-width: 960rem;
    width: 100%;
    padding-bottom: 20rem;
    border-collapse: separate;
    border-spacing: 0;
    @include var.scrollbar(horizontal);
    &::-webkit-scrollbar {
      position: absolute;
      bottom: -20rem;
      max-width: 230rem;
    }
  }
  td,
  th {
    border-top: 1rem solid var(--black-1);
    border-left: 1rem solid var(--black-1);
    text-align: start;
    transition: border-color 0.2s ease;
    &:last-child {
      border-right: 1rem solid var(--black-1);
    }
  }
  th {
    padding: 15rem 30rem;
    font-weight: 600;
    white-space: nowrap;
    background-color: var(--white-3);
    transition: background-color 0.2s ease, border-color 0.2s ease;
  }
  td {
    padding: 15rem 20rem;
    height: 150rem;
  }
  &:last-child {
    td {
      border-bottom: 1rem solid var(--black-1);
      min-width: 180rem;
    }
  }
  tr:first-child th:first-child {
    border-top-left-radius: 30rem;
  }

  tr:first-child th:last-child {
    border-top-right-radius: 30rem;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 30rem;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 30rem;
  }

  tr td,
  tr th {
    border-top: none;
    border-bottom: 1rem solid var(--black-1);
  }

  tr:first-child th {
    border-top: 1rem solid var(--black-1);
    text-align: center;
  }
}
.btn {
  display: flex;
  gap: 10rem;
  padding: 20rem 30rem;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--black-1);
  border-radius: 20rem;
  transition: all 0.3s ease;
  font: var(--font-mohave-med-20);
  color: var(--black-1);
  &:hover {
    border: 1px solid var(--blue);
    color: var(--blue);
  }
  &--light {
    background-color: var(--blue-1);
    border: 1px solid var(--grey);
    color: var(--white);
    &:hover {
      background-color: var(--blue-2);
      color: var(--white-1);
      border: 1px solid var(--grey);
    }
  }
}
