//font
:root {
  --font-mohave-reg-16: normal 400 16rem/130% "Mohave", sans-serif;
  --font-mohave-med-16: normal 500 16rem/130% "Mohave", sans-serif;
  --font-mohave-med-20: normal 500 20rem/130% "Mohave", sans-serif;
  --font-mohave-med-25: normal 500 25rem/130% "Mohave", sans-serif;
  --font-mohave-med-30: normal 500 30rem/130% "Mohave", sans-serif;
  --font-mohave-sem-35: normal 600 35rem/130% "Mohave", sans-serif;
  --font-mohave-sem-30: normal 600 30rem/130% "Mohave", sans-serif;
  --font-mohave-bold-30: normal 700 30rem/130% "Mohave", sans-serif;
  --font-mohave-bold-20: normal 700 20rem/130% "Mohave", sans-serif;
  --font-mohave-bold-50: normal 700 50rem/130% "Mohave", sans-serif;

  //color
  --grey: #ced2da;
  --bg: #ecdfd2;
  --bgDarc: #1c1b1a;
  --black: #111111;
  --black-1: #4a4741;
  --white: #ffffff;
  --white-1: #f7f1e8;
  --white-2: #f5ebe1;
  --white-3: #d9caba;
  --blue: #53a1ee;
  --blue-1: #8cb9bc;
}

//media screen size
$mobile: "screen and (max-width: 767px)";
$tablet: "screen and (max-width: 1023px)";
$laptop: "screen and (max-width: 1439px)";

//adaptive
@function wsm($value) {
  @return ($value * 100vw)/768;
}
@function wxs($value) {
  @return ($value * 100vw)/360;
}

@mixin ellipsis($lines: 1) {
  display: -webkit-box;
  line-clamp: $lines;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@mixin scrollbar($direction: vertical) {
  &::-webkit-scrollbar {
    @if $direction == horizontal {
      height: 5rem;
    } @else {
      width: 5rem;
    }

    &-track {
      background: var(--white-1);
      border-radius: 4rem;
    }

    &-thumb {
      background: var(--black-1);
      border-radius: 4rem;
    }
  }
}
