@media #{$laptop} {
}
@media #{$tablet} {
  .footer {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(4, auto);
      gap: 10rem;
    }
    &__logo {
      padding: 50rem 0 0 50rem;
    }
    &__nav {
      padding: 0 0 0 50rem;
      grid-row-start: 2;
      &--social {
        padding: 0 50rem 0 0;
        grid-row-start: 2;
      }
    }
    &__ul {
      gap: 50rem;
    }
    &__line {
      grid-column: span 2 / span 2;
      grid-row-start: 3;
    }
    &__copyright {
      padding: 20rem 50rem 50rem 50rem;
      grid-column: span 2 / span 2;
      grid-row-start: 4;
    }
  }
}
@media #{$mobile} {
  .footer {
    &__logo {
      padding: 20rem;
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: span 2 / span 2;
    }
    &__ul {
      flex-direction: column;
      gap: 20rem;
    }
    &__nav {
      padding: 0 0 0 20rem;
      &--social {
        padding: 0 20rem 0 0;
      }
    }
    &__social{
      &-icon{
        width: 35rem;
        height: 35rem;
      }
    }
    &__copyright{
      padding: 20rem;
    }
  }
}
