@use "../../../base/variables" as var;
@media #{var.$mobile} {
  .header{
    height: 80rem;
    &__ul{
      gap: 10rem;
    }
    &__right{
      gap: 10rem;
    }
    &__wrapper{
      padding-block: 10rem;
    }
  }
}
