@use "../../base/variables" as var;
.card {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  background-color: var(--white);
  border-radius: 20rem;
  &--meditation {
    width: calc((100% - 60rem) / 4);
    .card {
      &__img {
        &-wrapper {
          width: 100%;
          height: 330rem;
        }
      }
    }
  }
  &--blog {
    flex-direction: row;
    width: calc((100% - 20rem) / 2);
    gap: 0;
    .card {
      &__img {
        &-wrapper {
          width: 200rem;
          height: 200rem;
        }
      }
    }
  }

  &:hover {
    .card__img {
      transform: scale(1.15);
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    &-wrapper {
      overflow: hidden;
      border-radius: 20rem;
      flex-shrink: 0;
    }
  }
  &__info {
    padding: 20rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  &__title {
    font: var(--font-mohave-bold-20);
    @include var.ellipsis(2);
    height: 52rem;
  }
    &__subtitle {
    @include var.ellipsis(2);
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 20rem;
  }
  &__autor {
    font: var(--font-mohave-med-20);
  }
  &__readtime {
    font: var(--font-mohave-med-20);
  }
}
