.analytics {
  display: flex;
  flex-direction: column;
  gap: 50rem;
  margin-top: 100rem;
  max-width: 1050rem;
  width: 100%;
  margin-inline: auto;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 50rem;
    width: 100%;
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    align-items: center;
    justify-content: center;
    width: calc(50% - 25rem);
    &-text {
      display: flex;
      background-color: var(--white);
      border-radius: 30rem;
      padding: 20rem;
      width: 100%;
      height: 200rem;
      position: relative;
      &-desc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
    }
    &-title {
      font: var(--font-mohave-bold-30);
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10rem;
      width: 100%;
    }
    .dp__menu {
      width: 500rem;
      padding: 20rem;
      border-radius: 30rem;
    }
    .dp__instance_calendar {
      .dp__menu_inner {
        font-size: 22rem;
        padding: 0;
      }
    }
    .dp--header-wrap {
      margin-bottom: 15rem;
    }
    .dp__calendar_header_item {
      text-align: left;
    }
    .dp__action_buttons {
      justify-content: center;
      margin-inline-start: unset;
      padding: 0;
      .dp__action_select {
        display: flex;
        gap: 10rem;
        padding: 15rem 30rem;
        margin: 0;
        height: 50rem;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--black-1);
        border-radius: 20rem;
        transition: all 0.3s ease;
        font: var(--font-mohave-med-20);
        background-color: var(--white);
        color: var(--black-1);
        &:hover {
          border: 1px solid var(--blue);
          color: var(--blue);
          background-color: var(--white);
        }
      }
    }
    .dp__action_row {
      align-items: center;
      justify-content: center;
      padding: 10rem 0 0 0;
    }
    .dp__calendar_row {
      margin-block: 7rem;
    }
    .dp__cell_inner {
      width: 50rem;
      height: 50rem;
      border-radius: 50%;
      transition: all 0.3s ease;
    }
    .dp__today {
      border: 1px solid var(--blue-1);
    }
    .dp__date_hover {
      &:hover {
        background-color: var(--white);
        border: 1px solid var(--blue-1);
      }
    }
    .dp__active_date {
      background-color: var(--blue-1);
    }
    .dp__selection_preview {
      display: none;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 20rem;
    border-radius: 30rem;
    gap: 10rem;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    &-slider {
      display: flex;
      flex-direction: column;
      gap: 10rem;

      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20rem;
        height: 80rem;
      }
      &-title {
        font: var(--font-mohave-med-16);
      }

      &__labels {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10rem;

        &-items {
          font-size: 14rem;
          font-weight: 300;
          line-height: 120%;
        }
      }

      .slider {
        &-base {
          border-radius: 8rem;
          background-color: var(--white-1);
          transition: background-color 0.2s ease;

          .slider-handle {
            top: calc((32rem - 8rem) / 2 * -1 + -1rem);
            right: 0;
            width: 32rem;
            height: 32rem;
            background-color: var(--blue-1);
            box-shadow: none;
          }
        }

        &-connect {
          border-radius: 8rem;
          background-color: var(--blue-1);
        }

        &-horizontal {
          height: 8rem;
        }

        &-origin {
          width: calc(100% - 32rem);
        }

        &-touch-area {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 24rem;
            height: 24rem;
            background-image: url("/public/images/slider-arrow.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }
        }
      }
    }
    &-emotions {
      display: flex;
      flex-wrap: wrap;
      gap: 10rem;
      &__btn {
        font: var(--font-mohave-reg-16);
        padding: 10rem 15rem;
        background-color: var(--blue-1);
        border-radius: 20rem;
        color: var(--white);
        transition: background-color 0.3s ease;
        &.active {
          background-color: var(--blue-2);
        }
      }
    }
  }
  &__chart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20rem;
    border-radius: 30rem;
    height: 100%;
    width: 100%;
    background-color: var(--white);
    &-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      gap: 20rem;
      align-items: center;
      justify-content: center;
    }
    &-container {
      position: relative;
      width: 100%;
      min-height: 365rem;
      max-height: 365rem;
      height: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}
