.blog {
  margin-top: 100rem;
  display: flex;
  flex-direction: column;
  gap: 20rem;
  max-width: 1100rem;
  margin-inline: auto;
  &__wrapper {
    max-width: 1100rem;
    margin-inline: auto;
    background-color: var(--white-2);
    padding: 50rem;
    border-radius: 20rem;
  }
  &__info {
    display: flex;
    flex-direction: row;
    gap: 15rem;
    margin-bottom: 10rem;
  }
  &__autor {
    font: var(--font-mohave-med-20);
  }
  &__readtime {
    font: var(--font-mohave-med-20);
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30rem;
    &-wrapper {
      width: 1100rem;
      height: 615rem;
      margin-inline: auto;
    }
  }
}
