.home {
  display: flex;
  flex-direction: column;
  gap: 100rem;
  margin-top: 100rem;
  &__counter {
    display: flex;
    flex-direction: row;
    gap: 30rem;
    padding: 20rem;
    max-width: 250rem;
    width: 100%;
    align-items: center;
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20rem;
      background-color: var(--white);
      border-radius: 30rem;
      padding: 50rem;
      align-items: center;
      justify-content: center;
      max-width: 1200rem;
      margin-inline: auto;
    }
    &-img {
      width: 40rem;
      height: 40rem;
      flex-shrink: 0;
      margin-right: 20rem;
    }
    &-title {
      font: var(--font-mohave-bold-30);
      text-align: center;
    }
    &-subtitle {
      font: var(--font-mohave-med-20);
      text-align: center;
    }
    &-block {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
    }
    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10rem;
      width: 100%;
    }
    &-line{
      width: 2px;
      height: auto;
      background-color: var(--bgDarc);
    }
    &-count {
      display: flex;
      align-items: center;
      span {
        font: var(--font-mohave-bold-30);
      }
    }
    &-value {
      min-width: 40rem;
      font: var(--font-mohave-bold-30);
      line-height: normal;
    }
    &-name {
      font: var(--font-mohave-med-20);
      text-align: center;
    }
  }
  &__hero {
    display: flex;
    flex-direction: row;
    gap: 50rem;
    justify-content: space-between;
    &-title {
      display: flex;
      font: var(--font-mohave-bold-50);
      text-align: center;
      align-items: center;
      justify-content: center;
      padding: 10rem;
    }
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.7s ease;
      object-fit: cover;
      border-radius: 20rem;

      &.active {
        opacity: 1;
      }
      &__wrapper {
        position: relative;
        display: flex;
        width: 850rem;
        height: 550rem;
        flex-shrink: 0;
      }
    }
  }
  &__help {
    display: flex;
    flex-direction: column;
    gap: 50rem;
    border-radius: 30rem;
    background-color: var(--white);
    padding: 50rem;
    &-title {
      font: var(--font-mohave-bold-30);
      text-align: center;
    }
    &-card {
      display: flex;
      flex-direction: column;
      gap: 15rem;
      width: calc((100% - 100rem) / 3);
      &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 50rem;
      }
      &__img {
        width: 56rem;
        height: 56rem;
      }
      &__title {
        font: var(--font-mohave-bold-20);
      }
      &__subtitle {
        font: var(--font-mohave-med-20);
      }
    }
  }
}
