.login {
  margin: 100rem auto 0 auto;
  max-width: 600rem;
  padding: 30rem;
  background-color: var(--white);
  border-radius: 30rem;
  position: relative;
  &__title {
    font: var(--font-mohave-bold-30);
    text-align: center;
    margin-bottom: 10rem;
  }

  .form {
    &__wrapper {
      max-height: none;
      overflow: unset;
      padding-right: 0;
    }
  }
}
