.meditation {
  display: flex;
  flex-direction: column;
  gap: 50rem;
  margin-top: 100rem;
  gap: 50rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }
  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40rem;
    &-wrapper {
      max-width: 1720rem;
      height: 900rem;
    }
  }
  &__title {
    font: var(--font-mohave-bold-30);
  }
  &__subtitle {
    p {
      font: var(--font-mohave-med-20);
    }
  }
}
