@media #{$laptop} {
  html {
    font-size: calc(1vw / 14.4);
  }
}
@media #{$tablet} {
  html {
    font-size: calc(1vw / 7.68);
  }
  .container {
    max-width: 768rem;
    padding-inline: 50rem;
  }
}
@media #{$mobile} {
  html {
    font-size: calc(1vw / 3.6);
  }
  .container {
    max-width: 360rem;
    padding-inline: 20rem;
  }
}
