@use "../../base/variables" as var;
@media #{var.$laptop} {

}
@media #{var.$tablet} {
:root {
  --font-mohave-reg-16:normal 400 15rem/130% "Mohave", sans-serif;
  --font-mohave-med-16:normal 500 15rem/130% "Mohave",  sans-serif;
  --font-mohave-med-20:normal 500 18rem/130% "Mohave",  sans-serif;
  --font-mohave-med-25:normal 500 22rem/130% "Mohave",  sans-serif;
  --font-mohave-med-30:normal 500 25rem/130% "Mohave",  sans-serif;
  --font-mohave-sem-35:normal 600 30rem/130% "Mohave",  sans-serif;
  --font-mohave-sem-30:normal 600 25rem/130% "Mohave",  sans-serif;
  --font-mohave-bold-30:normal 700 25rem/130% "Mohave",  sans-serif;
  --font-mohave-bold-20:normal 700 18rem/130% "Mohave",  sans-serif;
  --font-mohave-bold-50:normal 700 35rem/130% "Mohave",  sans-serif;
}
}
@media #{var.$mobile} {
:root {
  --font-mohave-reg-16:normal 400 14rem/130% "Mohave", sans-serif;
  --font-mohave-med-16:normal 500 14rem/130% "Mohave",  sans-serif;
  --font-mohave-med-20:normal 500 16rem/130% "Mohave",  sans-serif;
  --font-mohave-med-25:normal 500 18rem/130% "Mohave",  sans-serif;
  --font-mohave-med-30:normal 500 22rem/130% "Mohave",  sans-serif;
  --font-mohave-sem-35:normal 600 25rem/130% "Mohave",  sans-serif;
  --font-mohave-sem-30:normal 600 20rem/130% "Mohave",  sans-serif;
  --font-mohave-bold-30:normal 700 20rem/130% "Mohave",  sans-serif;
  --font-mohave-bold-20:normal 700 16rem/130% "Mohave",  sans-serif;
  --font-mohave-bold-50:normal 700 26rem/130% "Mohave",  sans-serif;
}
}