@use "../../../base/variables" as var;
@media #{var.$tablet} {
  .card {
    &--meditation {
      width: calc((100% - 30rem) / 2);
    }
    &--blog {
      width: 100%;
    }
    &__title {
      height: 47rem;
    }
  }
}
@media #{var.$mobile} {
  .card {
    &--meditation {
      width: 100%;
    }
    &--blog {
      .card {
        &__img {
          &-wrapper {
            width: 100rem;
            height: 100%;
          }
        }
        &__info {
          padding: 10rem;
        }
      }
    }
    &__title {
      height: 42rem;
    }
  }
}
