.textarea {
  position: relative;
  width: 100%;
  &__wrapper {
    position: relative;
  }
  textarea {
    font-size: 20rem;
    transition: 0.3s;
    color: var(--black-1);
    width: 100%;
    padding: 20rem;
    background-color: var(--white);
    border: 2px solid var(--white-1);
    border-radius: 20rem;
    height: 150rem;

    transition: 0.3s;
    resize: none;
    &:disabled {
      &::placeholder {
        color: var(--black-1);
      }
    }
  }
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  textarea:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s,
      color 5000s ease-in-out 0s;
  }

  textarea:-internal-autofill-selected {
    // background-color: var(--bg) !important;
    // color: var(--black-1) !important;
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
textarea::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
